<form action="">
<div class="col-sm-6">
  <div class="card">
    <div id="imagem"><img src="../../../../assets/9441i1.png" alt="Lebron James"></div>
      <div class=" card-body">
        <h3 class="card-title">{{ name }}</h3>
        <div>
          <table>
            <h4 class="me-5">Atributos</h4>
                <p class="card-text">Altura</p>
              <tr>
                <td class="card-dats">{{ altura }}</td>
              </tr>
                <p class="card-text">Peso</p>
              <tr>
                <td class="card-dats">{{ peso }}</td>
              </tr>
              <h4 class="me-5">Estatísticas</h4>
                <p class="card-text">Pontos</p>
              <tr>
                <td class="card-dats"> {{ pts }} </td>
              </tr>
                <p class="card-text">Rebotes</p>
              <tr>
                <td class="card-dats">{{ rebs }}</td>
              </tr>
                <p class="card-text">Assistencias</p>
              <tr>
                <td class="card-dats">{{ assists }}</td>
              </tr>
          </table>
        </div>
      </div>
  </div>
</div>
</form>
