<form action="">
<div class="col-sm-6">
  <div class="card">
    <div id="imagem"><img src="../../../../assets/9441i1.png" alt="Lebron James"></div>
      <div class=" card-body">
        <h3 class="card-title">{{ name }}</h3>
        <div>
          <table>
            <h4 class="me-5">Atributos</h4>
                <p class="card-text">Altura: <span>{{ altura }}</span></p>
                <p class="card-text">Peso: <span>{{ peso }}</span></p>
              <h4 class="me-5">Estatísticas</h4>
                <p class="card-text">Pontos: <span>{{ pts }}</span></p>
                <p class="card-text">Rebotes: <span>{{ rebs }}</span></p>
                <p class="card-text">Assistencias: <span>{{ assists }}</span></p>
          </table>
        </div>
      </div>
  </div>
</div>
</form>
