<form action="">
<div>
  <div class=" card">
    <thead>
      <tr class="row">
        {{ name }}
      </tr>
      </thead>
    <div>
      <div>
        <div id="imagem"><img src="../../../../assets/9441i1.png" alt="Lebron James"></div>
        <table>
          <tbody>
            <thead><tr class="row">Atributos</tr></thead>
            <tr>
              <th>Altura</th>
            </tr>
            <tr class="col">
              <td>{{ altura }}</td>
            </tr>
            <tr>
              <th>Peso</th>
            </tr>
            <tr class="col">
              <td>{{ peso }}</td>
            </tr>
            <thead><tr class="row">Estatísticas</tr></thead>
            <tr>
              <th> Pontos </th>
            </tr>
            <tr class="col">
              <td > {{ pts }} </td>
            </tr>
            <tr >
              <th> Rebotes </th>
            </tr>
            <tr class="col">
              <td>{{ rebs }}</td>
            </tr>
            <tr>
              <th> Assistencias </th>
            </tr>
            <tr class="col">
              <td>{{ assists }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</form>
